stages:
  - build
  - test

build_job:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:10.0
  script:
    - cd CurrencyApp
    - dotnet restore
    - dotnet build --configuration Release

test_job:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:10.0
  script:
    - cd CurrencyApp
    - csc -reference:bin/Release/net10.0-windows/CurrencyApp.dll -out:tester.exe Tests/TestRunner.cs
    - ./tester.exe
  needs: ["build_job"]